.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  .main-content {
    margin-left: 25%;
  }
  .logo {
    max-width: 150px;
    margin-bottom: 1rem;
  }
  .filter-card {
    cursor: pointer;
  }
  .certificate-img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
  }